In [5]:
import pandas as pd

In [4]:
kg_df = pd.read_csv("archive/country_wise_latest.csv")
kg_df['Country'] =kg_df['Country/Region']  
who_df = pd.read_csv("archive/who.csv")

merge_df = kg_df.merge(who_df,on="Country")

In [3]:
print(merge_df)

         Country/Region  Confirmed  Deaths  Recovered  Active  New cases  \
0           Afghanistan      36263    1269      25198    9796        106
1               Albania       4880     144       2745    1991        117
2               Algeria      27973    1163      18837    7973        616
3               Andorra        907      52        803      52         10
4                Angola        950      41        242     667         18
..                  ...        ...     ...        ...     ...        ...
162             Vietnam        431       0        365      66         11
163  West Bank and Gaza      10621      78       3752    6791        152
164               Yemen       1691     483        833     375         10
165              Zambia       4552     140       2815    1597         71
166            Zimbabwe       2704      36        542    2126        192

     New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
0            10             18                3.50                  69.49
1             6             63                2.95                  56.25
2             8            749                4.16                  67.34
3             0              0                5.73                  88.53
4             1              0                4.32                  25.47
..          ...            ...                 ...                    ...
162           0              0                0.00                  84.69
163           2              0                0.73                  35.33
164           4             36               28.56                  49.26
165           1            465                3.08                  61.84
166           2             24                1.33                  20.04

     ...  Total_CO2_emissions  Total_income  Total_reserves  \
0    ...               692.50           NaN             NaN
1    ...              3499.12  4.790000e+09           78.14
2    ...            137535.56  6.970000e+10          351.36
3    ...                  NaN           NaN             NaN
4    ...              8991.46  1.490000e+10           27.13
..   ...                  ...           ...             ...
162  ...            101826.23  4.480000e+10           47.11
163  ...               655.86  3.780000e+09             NaN
164  ...             20148.34  1.150000e+10          114.52
165  ...              2366.94  4.090000e+09           10.41
166  ...             11457.33  5.620000e+09            3.39

     Trade_balance_goods_and_services Under_five_mortality_from_CME  \
0                                 NaN                        257.00
1                       -2.040000e+09                         18.47
2                        4.700000e+09                         40.00
3                                 NaN                           NaN
4                        9.140000e+09                        164.10
..                                ...                           ...
162                     -1.940000e+09                         20.20
163                               NaN                         28.00
164                      8.310000e+08                         82.40
165                     -4.470000e+08                        175.30
166                     -1.710000e+08                        106.50

    Under_five_mortality_from_IHME  Under_five_mortality_rate  \
0                            231.9                     257.00
1                             15.5                      18.47
2                             31.2                      40.00
3                              NaN                        NaN
4                            242.5                     164.10
..                             ...                        ...
162                           23.4                      20.20
163                           25.8                      28.00
164                           87.9                      82.40
165                          163.8                     175.30
166                           67.0                     106.50

     Urban_population  Urban_population_growth  Urban_population_pct_of_total
0           5740436.0                     5.44                           22.9
1           1431793.9                     2.21                           45.4
2          20800000.0                     2.61                           63.3
3                 NaN                      NaN                            NaN
4           8578749.0                     4.14                           53.3
..                ...                      ...                            ...
162        21900000.0                     2.90                           26.4
163         2596216.0                     3.33                           71.6
164         5759120.5                     4.37                           27.3
165         4017411.0                     1.95                           35.0
166         4709965.0                     1.90                           35.9

[167 rows x 373 columns]